init-author-name = "Dante"
init-author-email = "c.dante.federici@gmail.com"
init-author-url = "http://dante.codes/"
init-license = "MIT"
init-version = "0.0.0"
progress = false
tag-version-prefix = ""
